# Python virtual environment
venv/
__pycache__/
.venv/

# Environment variables
.env

# VS Code settings
.vscode/

# Byte-compiled / optimized / DLL files
pycache/
*.py[cod]
*$py.class

# IDE and editor files
.vscode/
.idea/

# Database file
kazileo.db

# Alert script state file
last_run.txt